<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Apis" version="1.14.0" targetFramework="MonoAndroid60" />
  <package id="Google.Apis.Core" version="1.14.0" targetFramework="MonoAndroid60" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="MonoAndroid60" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="MonoAndroid60" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="MonoAndroid60" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="MonoAndroid60" />
  <package id="MvvmCross" version="4.1.6" targetFramework="MonoAndroid60" />
  <package id="MvvmCross.Binding" version="4.1.6" targetFramework="MonoAndroid60" />
  <package id="MvvmCross.Core" version="4.1.6" targetFramework="MonoAndroid60" />
  <package id="MvvmCross.Platform" version="4.2.0" targetFramework="MonoAndroid60" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v4" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.GooglePlayServices.Base" version="29.0.0.2" targetFramework="MonoAndroid60" />
  <package id="Xamarin.GooglePlayServices.Basement" version="29.0.0.2" targetFramework="MonoAndroid60" />
  <package id="Xamarin.GooglePlayServices.Location" version="29.0.0.2" targetFramework="MonoAndroid60" />
  <package id="Xamarin.GooglePlayServices.Maps" version="29.0.0.2" targetFramework="MonoAndroid60" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="MonoAndroid60" />
</packages>